/// Main stylesheet
body {
    height: 100vw;
    width: 100vh;

    .hidden {
        display: none;
    }

    div.container {
        margin: 0px;
        height: 100vw;
        width: 100vh;
    }
    //Main Nav Bar
    header {
        nav {
            display: inline-block;

            div > button.navbar-main-menu-toggler {
                z-index: 2;
                display: block;
                position: absolute;
                top: 0px;
                left: 97vw;
                width: 3vw;
                height: 5vh;
            }

            ul {
                z-index: 3;
                display: block;
                position: absolute;
                top: 5vh;
                left: 90vw;
                width: 10vw;
                text-align: right;

                li {
                    display: block;
                    clear: right;
                    background-color: darkgray;
                    padding-right: 2vw;
                    padding-bottom: 1vh;

                    a {
                        color: white;
                    }
                }
            }
        }
    }

    margin-bottom: 60px;

    form {
        display: grid;
        grid-template-columns: 1fr, 1fr;
    }
    //Combined div css for all pages
    div {
        &#event-carousel-container {
            display: grid;
            grid-template-columns: 1fr, 8fr, 1fr;
            grid-template-rows: 9fr, 1fr;
            height: 75vh;
            width: 100vw;

            div.event-carousel-container {
                display: grid;
                grid-column: 2;
                grid-row: 1;
            }

            div.carousel-item-view {
                div.item {
                    display: none;

                    &.active {
                        display: block;

                        img {
                            height: 75vh;
                            width: 75vw;
                        }
                    }
                }
            }

            ul.carousel-dots {
                grid-column: 2;
                grid-row: 2;
                position: center;
                padding-left: 20vw;
                padding-top: 10px;

                li {
                    clear: none;
                    display: inline;
                    float: left;
                    height: 10vh;
                    width: 10vw;
                    color: black;

                    div {
                        background-image: url("../wwwroot/icons/EventDotNotSelected.svg");
                        height: 50px;
                        width: 50px;
                    }

                    &.active {
                        div {
                            background-image: url("../wwwroot/icons/EventDotSelected.svg");
                            height: 50px;
                            width: 50px;
                        }
                    }
                }
            }

            div.left-carousel-arrow {
                display: grid;
                grid-column: 1;
                grid-row: 1/2;

                div {
                    background-image: url("../wwwroot/icons/ReverseButton.svg");
                    height: 50px;
                    width: 50px;
                    margin-top: 32.5vh;
                }
            }

            div.right-carousel-arrow {
                display: grid;
                grid-column: 3;
                grid-row: 1/2;

                div {
                    background-image: url("../wwwroot/icons/ForwardButton.svg");
                    height: 50px;
                    width: 50px;
                    margin-top: 32.5vh;
                }
            }
        }

        &#event-carousel-container-editor {
            display: grid;
            grid-template-columns: 1fr, 8fr, 1fr;
            grid-template-rows: 9fr, 1fr, 1fr, 1fr, 1fr;
            height: 75vh;
            width: 100vw;

            div.carousel-item-view {
                div.item {
                    display: none;

                    &.active {
                        display: block;

                        img {
                            display: grid;
                            height: 75vh;
                            width: 75vw;
                            grid-column: 2;
                            grid-row: 1;
                        }

                        .event-title-label, .event-title {
                            display: grid;
                            grid-column: 2;
                            grid-row: 2;
                            width: 30vw;
                        }

                        .event-description-label, .event-description {
                            display: grid;
                            grid-column: 2;
                            grid-row: 2;
                            width: 30vw;
                        }

                        .event-image-upload-label, .event-image-upload {
                            display: grid;
                            grid-column: 2;
                            grid-row: 2;
                            width: 30vw;
                        }
                    }
                }
            }

            ul.carousel-dots {
                grid-column: 2;
                grid-row: 5;
                position: center;
                padding-left: 20vw;
                padding-top: 10px;

                li {
                    clear: none;
                    display: inline;
                    float: left;
                    height: 10vh;
                    width: 10vw;
                    color: black;

                    div {
                        background-image: url("../wwwroot/icons/EventDotNotSelected.svg");
                        height: 50px;
                        width: 50px;
                    }

                    &.active {
                        div {
                            background-image: url("../wwwroot/icons/EventDotSelected.svg");
                            height: 50px;
                            width: 50px;
                        }
                    }
                }
            }

            div.left-carousel-arrow {
                display: grid;
                grid-column: 1;
                grid-row: 1/5;

                div {
                    background-image: url("../wwwroot/icons/ReverseButton.svg");
                    height: 50px;
                    width: 50px;
                    margin-top: 32.5vh;
                }
            }

            div.right-carousel-arrow {
                display: grid;
                grid-column: 3;
                grid-row: 1/5;

                div {
                    background-image: url("../wwwroot/icons/ForwardButton.svg");
                    height: 50px;
                    width: 50px;
                    margin-top: 32.5vh;
                }
            }
        }

        &#room-calendar {
            ul {
                list-style-type: none;
            }

            #month-list {
                float: left;
                font-weight: bolder;
                text-align: center;
                width: 77vw;
            }

            span.left-month-arrow {
                float: left;
                height: 75px;
                width: 75px;

                div {
                    background-image: url("../wwwroot/icons/ReverseButton.svg");
                    height: 50px;
                    width: 50px;
                }
            }

            span.right-month-arrow {
                float: left;
                height: 75px;
                width: 75px;

                div {
                    background-image: url("../wwwroot/icons/ForwardButton.svg");
                    height: 50px;
                    width: 50px;
                }
            }

            #date-list {
                clear: left;
                height: 30vh;
                width: 77vw;

                th {
                    border-bottom: 5px solid black;
                    height: 5vh;
                    text-align: center;
                    width: 7vw;
                }

                td {
                    border: 2px solid black;
                    height: 5vh;
                    text-align: center;
                    width: 7vw;
                }
            }
        }

        #ill-request-review {
            display: grid;
            grid-template-columns: 1fr, 1fr;
        }
    }
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html {
    position: relative;
    min-height: 100%;
}

