
.vs/PorcelainAndAlabaster/config/applicationhost.config
PorcelainAndAlabaster/obj/Debug/net7.0/PorcelainAndAlabaster.csproj.FileListAbsolute.txt
*.dtbcache.v2
.vs/PorcelainAndAlabaster/v17/.suo
*.vsidx
*.v2
*.v7.bin
*.suo
*.dll
*.exe
*.PorcelainAndAlabaster
*.cache
PorcelainAndAlabaster/obj/Debug/net7.0/PorcelainAndAlabaster.AssemblyInfo.cs
