
.vs/PorcelainAndAlabaster/config/applicationhost.config
PorcelainAndAlabaster/obj/Debug/net7.0/PorcelainAndAlabaster.csproj.FileListAbsolute.txt
*.dtbcache.v2
.vs/PorcelainAndAlabaster/v17/.suo
*.vsidx
*.v2
*.v7.bin
*.suo
*.dll
*.exe
*.PorcelainAndAlabaster
*.cache
PorcelainAndAlabaster/obj/Debug/net7.0/PorcelainAndAlabaster.AssemblyInfo.cs
PorcelainAndAlabassterSQLCmdLine/obj/Debug/net7.0/PorcelainAndAlabassterSQLCmdLine.AssemblyInfo.cs
.vs/ProjectEvaluation/porcelainandalabaster.projects.v7.bin
.vs/ProjectEvaluation/porcelainandalabaster.metadata.v7.bin
.vs/PorcelainAndAlabaster/v17/fileList.bin
.vs/PorcelainAndAlabaster/v17/DocumentLayout.json
.vs/PorcelainAndAlabaster/v17/.suo
.vs/PorcelainAndAlabaster/v17/.futdcache.v2
.vs/PorcelainAndAlabaster/DesignTimeBuild/.dtbcache.v2
.vs/PorcelainAndAlabaster/DesignTimeBuild/.dtbcache.v2
.vs/PorcelainAndAlabaster/v17/.suo
.vs/PorcelainAndAlabaster/v17/fileList.bin
*.bin
PorcelainAndAlabassterSQLCmdLine/obj/Debug/net7.0/PorcelainAndAlabassterSQLCmdLine.AssemblyInfo.cs
.vs/PorcelainAndAlabaster/DesignTimeBuild/.dtbcache.v2
PorcelainAndAlabassterSQLCmdLine/obj/Debug/net7.0/PorcelainAndAlabassterSQLCmdLine.AssemblyInfo.cs
PorcelainAndAlabaster/obj/Debug/net7.0/PorcelainAndAlabaster.AssemblyInfo.cs
PorcelainAndAlabaster/obj/Debug/net7.0/PorcelainAndAlabaster.AssemblyInfoInputs.cache
