
@{
    ViewData["Title"] = "About";
}
<h1 id="about-us-header">About Us</h1>
<div id="about-us-text"></div>
<h2 id="mission-statement-header">Mission Statement</h2>
<div id="mission-statement-text"></div>
<h2 id="vision-statement-header">Vision Statement</h2>
<div id="vision-statement-text"></div>
