
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Us</h1>

<div>
    <label id="contact-us-first-name-label">First Name</label>
    <input id="contact-us-first-name-input" type="text"/>
    <label id="contact-us-last-name-label">Last Name</label>
    <input id="contact-us-last-name-input" type="text"/>
    <label id="contact-us-email-label">Email</label>
    <input id="contact-us-email-input" type="text"/>
    <input id="contact-us-last-name-input" type="text"/>
    <label id="contact-us-question-label">Question</label>
    <textarea id="contact-us-question-textarea"></textarea>
    <button id="contact-us-submit">Submit</button>
</div>