@{
    //TODO: Build a reader for image links and alt text editor with default
    ViewData["Title"] = "Events";
}
<h1>Events</h1>
<div id="event-carousel-container">
    <div class="carousel-item-view">
        <div data-event-link="0" class="active item">
            <img src="https://cdn.pixabay.com/photo/2015/07/31/11/45/library-869061_960_720.jpg" alt="">
        </div>
        <div data-event-link="1" class="item">
            <img src="https://cdn.pixabay.com/photo/2017/07/15/22/07/library-2507902_1280.jpg" alt="" style="">
        </div>
        <div data-event-link="2" class="item">
            <img src="https://cdn.pixabay.com/photo/2014/10/14/20/14/library-488690_1280.jpg" alt="" style="">
        </div>
        <div data-event-link="3" class="item">
            <img src="" alt="https://cdn.pixabay.com/photo/2020/10/09/20/09/library-5641389_1280.jpg" style="">
        </div>
        <div data-event-link="4" class="item">
            <img src="" alt="https://cdn.pixabay.com/photo/2020/07/24/09/49/books-5433432_1280.jpg" style="">
        </div>
    </div>
    <ul class="carousel-dots">
        <li data-event-link="0" class="active"><div></div></li>
        <li data-event-link="1"><div></div></li>
        <li data-event-link="2"><div></div></li>
        <li data-event-link="3"><div></div></li>
        <li data-event-link="4"><div></div></li>
    </ul>
    <div class="left-carousel-arrow">
        <div></div>
    </div>
    <div class="right-carousel-arrow">
        <div></div>
    </div>
</div>

