@{
    //TODO: Build a reader for image links and alt text editor with default
}

<div id="alert-banner"></div>
<h1>Events</h1>
<div id="event-carousel-container">
    <div class="carousel-item-view">
        <div data-event-link="0" class="item">
            <img src="" alt="">
        </div>
        <div data-event-link="1" class="item">
            <img src="" alt="" style="">
        </div>
        <div data-event-link="2" class="item">
            <img src="" alt="" style="">
        </div>
        <div data-event-link="3" class="item">
            <img src="" alt="" style="">
        </div>
        <div data-event-link="4" class="item">
            <img src="" alt="" style="">
        </div>
    </div>
    <ul class="carousel-dots">
        <li data-event-link="0" class="active"></li>
        <li data-event-link="1"></li>
        <li data-event-link="2"></li>
        <li data-event-link="3"></li>
        <li data-event-link="4"></li>
    </ul>
    <div class="left-carousel-arrow"></div>
    <div class="right-carousel-arrow"></div>
</div>

