
@{
    ViewData["Title"] = "ILLRequest";
    //TODO: Build a reader for what should be shown in the form passed in from VM
}
<h1>ILLRequest</h1>
<form id="ill-request">
    <label id="ill-request-first-name-label">First Name</label>
    <input id="ill-request-first-name-input" type="text" />
    <label id="ill-request-last-name-label">Last Name</label>
    <input id="ill-request-last-name-input" type="text" />
    <label id="ill-request-email-label">Email</label>
    <input id="ill-request-email-input" type="text" />
    <label id="ill-request-email-label">Library Card Number</label>
    <input id="ill-request-last-name-input" type="text" />
    <label id="ill-request-title-label">Title</label>
    <input id="ill-request-title-input" type="text" />
    <label id="ill-request-author-label">Author</label>
    <input id="ill-request-author-input" type="text" />
    <label id="ill-request-journal-label">Journal</label>
    <input id="ill-request-journal-input" type="text" />
    <label id="ill-request-volume-label">Volume</label>
    <input id="ill-request-volume-input" type="text" />
    <label id="ill-request-year-label">Year</label>
    <input id="ill-request-year-input" type="text" />
    <label id="ill-request-isbn-label">ISBN</label>
    <input id="ill-request-isbn-input" type="text" />
    <input id="ill-request-submit" type="submit"/>
</form>