@{
    ViewData["Title"] = "Home Page";
    //TODO figure out what is the best way to get this to be pulled from setting that are updatable through Admin Screen
}
<div id="alert-banner"></div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
