
@{
    //TODO: Get this pulled from somewhere need to configure with libapps and create a form for this as well
    ViewData["Title"] = "ReferenceGuide";
}
<div id="alert-banner"></div>
<h1>ReferenceGuide</h1>
<div>
    <ul>
        <li></li>
    </ul>
</div>
