
@{
    //TODO: Load values from VM or setup a blank load for new admin
    ViewData["Title"] = "Admin Edit";
}
<h1>Admin</h1>
<form>
    <label id="first-name-label">First Name</label>
    <input id="first-name-input" />
    <label id="last-name-label">Last Name</label>
    <input id="last-name-input"/>
    <label id="barcode-label">Barcode</label>
    <input id="barcode-input"/>
    <label id="email-label">Email</label>
    <input id="email-input"/>
    <label id="phone-label">Phone</label>
    <input id="phone-input"/>
    <label id="active-input-label">Active</label>
    <select id="active-select">
        <option id="active-option">Active</option>
        <option id="inactive-option">Inactive</option>
    </select>
</form>
