
@{
    //TODO: Load values from VM or setup a blank load for new patron
    //TODO: Buliding search linking for children
    //TODO: Load patron types from DB in settings menu
    ViewData["Title"] = "Patron";
}
<h1>Patron</h1>
<form id="patron-form">
    <label id="first-name-label">First Name</label>
    <input id="first-name-input" />
    <label id="last-name-label">Last Name</label>
    <input id="last-name-input"/>
    <label id="barcode-label">Barcode</label>
    <input id="barcode-input"/>
    <label id="email-label">Email</label>
    <input id="email-input"/>
    <label id="phone-label">Phone</label>
    <input id="phone-input"/>
    <label id="patron-type-label">Patron Type</label>
    <select id="patron-type">

    </select>
    <label id="expiration-date-label">Expiration Date</label>
    <input id="expiration-date-input" type="date"/>
    <button type="submit">Save Patron</button>
</form>
