
@{
    ViewData["Title"] = "ReferenceGuideEdit";
    //TODO: Get loaded list of reference guides into the 
}
<h1>Reference Guide Edit</h1>
<select>


</select>
<input type="button" value="Edit Guide"/>
<input type="button" value="New Guide"/>