@{
    ViewData["Title"] = "Room Bookings";
    //Need to import room list and settings with a pull of the data (possibly) refresh fixing 
}
<h1>Book a room</h1>
<select id="room-select">
    
</select>
<div id="room-calendar">

</div>