@{
    ViewData["Title"] = "Room Bookings";
    //Need to import room list and settings with a pull of the data (possibly) refresh fixing and current date
}
<h1>Book a room</h1>
<select id="room-select">
    
</select>
<div id="room-calendar" class="hidden">
    <ul id="month-list">
        <li>January</li>
        <li>February</li>
        <li>March</li>
        <li>April</li>
        <li>May</li>
        <li>June</li>
        <li>July</li>
        <li>August</li>
        <li>September</li>
        <li>October</li>
        <li>November</li>
        <li>December</li>
    </ul>
    <div class="year-div">2024</div>
    <ul id="day-list">
        <li>Sunday</li>
        <li>Monday</li>
        <li>Tuesday</li>
        <li>Wednesday</li>
        <li>Thursday</li>
        <li>Friday</li>
        <li>Saturday</li>
    </ul>
    <ul id="date-list">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li>11</li>
        <li>12</li>
        <li>13</li>
        <li>14</li>
        <li>15</li>
        <li>16</li>
        <li>17</li>
        <li>18</li>
        <li>19</li>
        <li>20</li>
        <li>21</li>
        <li>22</li>
        <li>23</li>
        <li>24</li>
        <li>25</li>
        <li>26</li>
        <li>27</li>
        <li>28</li>
        <li>29</li>
        <li>30</li>
        <li>31</li>
    </ul>
</div>