@{
}

<ul id="main-nav-bar">
    <li>Home</li>
    <li>Contact</li>
    <li>About</li>
    <li>Your Account</li>
    <li>Privacy</li>
    <li>Reference Guide</li>
    <li>Archives</li>
    <li>Events</li>
</ul>